{% extends 'base.html' %}

    {% block content %}
    <section class="resume-section" id="data">
        <div class="resume-section-content">
            <h2 class="mb-0">
                RNN-GRU
            </h2>
            <div class="subheading mb-4">
                Hasil Data Setelah di Training
            </div>
            <!-- <form class="" action="" method="post" enctype="multipart/form-data">
                <input type="file" name="csvfile" value="" />
                <input type="submit" name="" value="Submit" />
            </form> -->
            <div class="container m-4">
                {{prediksi|safe}}
            </div>  
        </div>
    </section>
    
    
    {% endblock %}